
.loading {
  height: 100vh;
  background-color: rgba(255, 212, 0, 0.3);
  svg {
    display: block;
    color: var(--color-primary);
    font-size: 5.6rem;
    animation: Loading 0.5s linear ;
  }
}
.content {
  img {
    width: 15%;
    object-fit: contain;
  }
  h2 {
    font-size: var(--large-font-size);
    color: var(--color-white);
    letter-spacing: 12px;
    text-transform: uppercase;
    overflow: hidden;
    transform-origin: right;
    animation: LoadingText 1s 0.2s ;
  }
}
@keyframes Loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes LoadingText {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@media  (max-width:56.25em) {
  h2{
    font-size: var(--medium-font-size);
  }
}