@import "../../../../../styles/_mixins/mixins";
.order-history__navigation {
  padding: var(--spacing-md-2) 3.6rem var(--spacing-md-2) 0.8rem;
  border-radius: 0 100px 100px 0;
  @include respond(tab-land) {
    display: none;
  }
  &.active {
    background-color: #e8f0ff;
    a {
      color: var(--color-tertiary);
    }
  }
  a {
    display: flex;
    align-items: center;
    gap: var(--spacing-md-2);
    color: var(--color-grey-text);
  }
  cursor: pointer;
  &:first-child {
    margin-bottom: var(--spacing-md-2);
  }
}
