@import "../../../../styles/_mixins/_mixins";
.product-general-information-box {
  overflow: hidden;
  height: 30rem;
  position: relative;
  @include respond(tab-land){
    height: auto;

  }
  &__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include respond(tab-land){
      position: relative;
    }
  }
}
.general-information {
  position: relative;
  @include respond(tab-land) {
    height: auto;
  }
  @include respond(phone){
    img{
      display: none;
    }
  }
  p {
    margin-bottom: var(--spacing-md-2);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.6),
      white
    );
    @include respond(tab-land) {
      background: none;
    }
  }
}
