.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--round-border-sm);
  padding: var(--spacing-md-2);
}
.primary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: 700;
  padding:1.6rem;
}
.secondary {
  color: var(--color-white);
  background-color: var(--color-tertiary);
  width: 100%;
}
.neutral {
  border: 1px solid var(--color-tertiary);
  color: var(--color-tertiary);

}
.storage {
  border: 2px solid var(--color-light-white);
  &.active {
    color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
  }
}
