@import "../../../../styles/_mixins/mixins";
$slider-height: 50rem;

.product-details {
  background-color: var(--color-white);
  height: 100vh;
  overflow-y: scroll;

  &__list {
    justify-content: center;
    gap: var(--spacing-xl);
    padding: var(--spacing-huge) var(--spacing-md-2) 1.6rem var(--spacing-md-2);
    @include respond(tab-land) {
      justify-content: start;
      gap: 0;
      box-shadow: 4px 4px rgba(0, 0, 0, 0.08%);
      padding: 0;
      padding-left: 5.6rem;
      height: 5.6rem;
      position: fixed;
      z-index: 9999;
      width: 100%;
      background-color: var(--color-white);
      overflow-x: scroll;
    }
  }
  &__title-list {
    padding-bottom: var(--spacing-md-2);

    cursor: pointer;
    @include respond(tab-land) {
      padding: 1.6rem var(--spacing-md-2);
      white-space: nowrap;
    }
    &.active {
      border-bottom: 4px solid var(--color-tertiary);
      & > * {
        color: var(--color-tertiary);

        font-weight: 600;
      }
      @include respond(tab-land) {
        background-color: var(--color-tertiary);
        border-bottom: none;
        & > * {
          color: var(--color-white);
          font-weight: 400;
        }
      }
    }
  }
  &__main {
    height: $slider-height;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    @include respond(tab-land) {
      overflow-y: scroll;
      height: auto;
      padding-top: 5.6rem;
      margin: var(--spacing-md-2) auto;
    }
    @include respond(phone) {
      max-width: 100%;
      margin: var(--spacing-md-2) 0;
    }
  }
}
.product-details::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.product-details {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.btn-close {
  background-color: var(--color-white);

  &--small {
    font-size: var(--spacing-huge);
    padding: 1.6rem var(--spacing-huge);
    top: 0;
    position: fixed;
    z-index: 9999;

    display: none;
  }
  &--big {
    top: 3%;
    right: 5%;
  }
  @include respond(tab-land) {
    &--small {
      display: block;
    }
    &--big {
      display: none;
    }
  }
}
