.user-review {
  flex-direction: column;
  margin: var(--spacing-md-2) 0 4.4rem;
  &__name {
    font-weight: bold;
  }
  &__img {
    width: 12.5rem;
  }
  svg {
    color: var(--color-secondary);
  }
}
