$img-height: 21rem;

$font-size-configuration: var(--spacing-md-2);
$gap-el: 0.4rem;
$gap-line: 8px;

.list {
  font-size: var(--medium-font-size);
  margin-top: var(--gutter-container);
  display: flex;
}
